.skill-page-spaces{
  margin-top: 40px;
}


.my-sec-heading {
  font-size: 50px;
  font-weight: 3250;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 25px;
  margin-top: 55px; }

  .lp-sub-head {
    font-family: "PT Serif", serif;
    font-style: italic;
    font-weight: normal;
    color: #000000;
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px; }

    .lp-icon-box {
      margin-top: 40px; }

      .lp-icon {
        margin-top: 0;
        margin-bottom: 20px; }
        .lp-icon img {
          position: relative; }

          .st-bl-icon-con h4, .st-bl-icon-con p {
            margin-bottom: 25px; }
          
          .st-bl-icon-con h4 {
            color: #070202; }
          
          .st-bl-icon-con p, .st-com-con p {
            font-size: 16px;
            color: #000;
            line-height: 19px;
            text-align: center;
            margin-bottom: 15px; }
          

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
